@import url('variables.css');

@font-face {
    font-family: "Lugrasimo-Regular";
    src: url('../fonts/Lugrasimo-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--headerBg);
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding);
}

.header-logo a {
    color: var(--logoColor);
    font-size: var(--logoSize);
    text-transform: uppercase;
    font-family: 'Lugrasimo-Regular', sans-serif;
}

.header-catalog {
    display: inline-block;
    padding: 10px;
    color: var(--buttonTxtColor);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--buttonBgColor);
    font-weight: bold;
}

.header-catalog:hover {
    background-color: var(--buttonTxtColor);
    color: var(--buttonTxtColorHover);
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search input {
    border: none;
    outline: none;
    padding: 5px;
    width: 550px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.header-search button {
    height: 35px;
    border: none;
    margin-left: -5px;
    padding: 7px;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    color: var(--buttonTxtColor);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.header-search button:hover {
    background-color: var(--buttonTxtColor);
    color: var(--buttonTxtColorHover);
}

.header-actions a i {
    color: var(--iconsColor);
    margin: 5px;
    font-size: var(--iconsSize);
    transition: 0.2s;
}

.header-actions a:hover i {
    color: var(--iconsColorHover);
}

main {
    min-height: 70vh;
}

main .content {
    display: flex;
}

main .main-content {
    padding: 10px;
    width: 100%;
}

main .main-categories {
    width: 20%;
    border-right: solid 1px var(--headerBg);
    height: 100%;
    min-height: 70vh;
}

main .main-categories a {
    display: block;
    padding: 10px var(--padding);
    color: var(--TextColor)
}

main .main-categories a:hover, main .main-categories a.active {
    background-color: var(--buttonBgColor);
    color: var(--buttonTxtColor)
}

main .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    gap: 10px;
    padding-right: var(--padding);
}

main .products .product {
    border: 1px solid var(--headerBg);
    padding: 10px;
}

main .product-img {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main .product-title {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

main .product-title a {
    color: var(--iconsColor);
}

main .product-price {
    font-size: 25px;
    font-weight: bold;
    color: var(--buttonTxtColor);
}

main .product-add-to-cart {
    font-size: var(--iconsSize);
}

main .product-add-to-cart a {
    color: var(--iconsColor);
    transition: 0.2s;
}

main .product-add-to-cart a:hover {
    color: var(--iconsColorHover);
}

footer {
    background-color: var(--footerBg);
    height: var(--footerHeight);
}

.footer-content {
    height: calc(var(--footerHeight) - 25px);
}

footer .copyright {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5px;
}