:root {
    /* HEADER */
    --headerBg: #408AD2;
    --headerHeight: 70px;
    --logoColor: #FFFFFF;
    --logoSize: 26px;
    --iconsColor: #FFFFFF;
    --iconsColorHover: #04396C;
    --iconsSize: 30px;

    /* FOOTER */
    --footerBg: #26527C;
    --footerHeight: 200px;
}
