:root {
    /* HEADER */
    --headerBg: #D3DEE9;
    --headerHeight: 70px;
    --logoColor: #EC6E5B;
    --logoSize: 26px;
    --iconsColor: #4d4d4d;
    --iconsColorHover: #EC6E5B;
    --iconsSize: 30px;

    --buttonTxtColor: #EC6E5B;
    --buttonTxtColorHover: #FFFFFF;
    --buttonBgColor: #F0F0F0;
    --buttonBgColorHover: #EC6E5B;

    --padding: 30px;

    /* FOOTER */
    --footerBg: #a3b9d2;
    --footerHeight: 200px;
}
