<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}SHOP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}">
    {% block css_file %}{% load static %}{% endblock %}
</head>
<body>
<header>
    <div class="header-logo">
        <a href="/">shop</a>
    </div>
    <div class="header-menu">
        <div class="header-catalog btn"><i class="icon-th-large-outline"></i> Catalog</div>
    </div>
    <div class="header-search">
        <input type="search" name="search" placeholder="I'm looking for...">
        <button>search</button>
    </div>
    <div class="flex-between header-actions">
        <a href="/customer" class="customer"><i class="icon-user"></i></a>
        <div class="header-cart">
            <a href="/cart" class="cart"><i class="icon-cart"></i></a>
            <span class="count-products-in-cart">2</span>
        </div>
    </div>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    <div class="footer-content"></div>
    <div class="copyright">Homework "Django Shop" © 2023</div>
</footer>
</body>
</html>